# Cấu hình cổng chạy máy chủ Backend
PORT=3000

# Khóa bảo mật JWT (JSON Web Token) cho quá trình đăng ký & đăng nhập
JWT_SECRET=super_secret_jwt_key_here
JWT_EXPIRES_IN=7d

# Cấu hình môi trường (development / production)
NODE_ENV=development
